In [50]:
import pandas as pd
dataset= pd.read_csv("creditos_historicos.csv")

C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\3583848855.py:2: DtypeWarning: Columns (13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset= pd.read_csv("creditos_historicos.csv")

In [51]:
dataset

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,next_pymnt_d,earliest_cr_line,mths_since_last_delinq,total_pymnt,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,Mar-2019,Apr-2001,NaN,167.020000,0.0,0.0,Feb-2019,NaN,Individual,60124.0
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,Mar-2019,Jun-1987,71.0,1507.110000,0.0,0.0,Feb-2019,NaN,Individual,372872.0
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,Mar-2019,Apr-2011,NaN,353.890000,0.0,0.0,Feb-2019,NaN,Individual,136927.0
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,Mar-2019,Feb-2006,NaN,286.710000,0.0,0.0,Feb-2019,NaN,Individual,385183.0
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,Mar-2019,Dec-2000,NaN,1423.210000,0.0,0.0,Feb-2019,NaN,Individual,157548.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,Mar-2019,Jan-2004,NaN,5360.960000,0.0,0.0,Feb-2019,NaN,Individual,73948.0
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,NaN,Mar-2003,13.0,14499.802172,0.0,0.0,Aug-2018,NaN,Joint App,382275.0
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,Mar-2019,Feb-1995,NaN,5306.940000,0.0,0.0,Feb-2019,NaN,Individual,203417.0
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,Mar-2019,Jul-2003,7.0,5207.290000,0.0,0.0,Feb-2019,NaN,Individual,118975.0
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,Mar-2019,Apr-2014,NaN,7355.500000,0.0,0.0,Feb-2019,NaN,Individual,50700.0

In [52]:
dataset.dtypes

id_cliente                   int64
loan_status                 object
loan_amnt                    int64
installment                float64
term                        object
emp_title                   object
emp_length                  object
home_ownership              object
annual_inc                 float64
verification_status         object
purpose                     object
addr_state                  object
delinq_2yrs                float64
next_pymnt_d                object
earliest_cr_line            object
mths_since_last_delinq     float64
total_pymnt                float64
recoveries                 float64
collection_recovery_fee    float64
last_pymnt_d                object
settlement_status           object
application_type            object
tot_hi_cred_lim            float64
dtype: object

In [53]:
dataset.drop_duplicates()

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,next_pymnt_d,earliest_cr_line,mths_since_last_delinq,total_pymnt,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,Mar-2019,Apr-2001,NaN,167.020000,0.0,0.0,Feb-2019,NaN,Individual,60124.0
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,Mar-2019,Jun-1987,71.0,1507.110000,0.0,0.0,Feb-2019,NaN,Individual,372872.0
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,Mar-2019,Apr-2011,NaN,353.890000,0.0,0.0,Feb-2019,NaN,Individual,136927.0
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,Mar-2019,Feb-2006,NaN,286.710000,0.0,0.0,Feb-2019,NaN,Individual,385183.0
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,Mar-2019,Dec-2000,NaN,1423.210000,0.0,0.0,Feb-2019,NaN,Individual,157548.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,Mar-2019,Jan-2004,NaN,5360.960000,0.0,0.0,Feb-2019,NaN,Individual,73948.0
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,NaN,Mar-2003,13.0,14499.802172,0.0,0.0,Aug-2018,NaN,Joint App,382275.0
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,Mar-2019,Feb-1995,NaN,5306.940000,0.0,0.0,Feb-2019,NaN,Individual,203417.0
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,Mar-2019,Jul-2003,7.0,5207.290000,0.0,0.0,Feb-2019,NaN,Individual,118975.0
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,Mar-2019,Apr-2014,NaN,7355.500000,0.0,0.0,Feb-2019,NaN,Individual,50700.0

In [54]:
dataset.isnull().mean()

id_cliente                 0.000000
loan_status                0.000000
loan_amnt                  0.000000
installment                0.000000
term                       0.000000
emp_title                  0.073858
emp_length                 0.064984
home_ownership             0.000000
annual_inc                 0.000002
verification_status        0.000000
purpose                    0.000000
addr_state                 0.000000
delinq_2yrs                0.000013
next_pymnt_d               0.576647
earliest_cr_line           0.000013
mths_since_last_delinq     0.512460
total_pymnt                0.000000
recoveries                 0.000000
collection_recovery_fee    0.000000
last_pymnt_d               0.001073
settlement_status          0.985378
application_type           0.000000
tot_hi_cred_lim            0.031086
dtype: float64

##### Las variables discretas convertirlas a valores enteros

###### delinq_2yrs
###### mths_since_last_delinq

In [55]:
def estatus_cred(row):
    if row["loan_status"] in ["Charged Off", "Default"]:
        return "BROKEN"
    elif row["loan_status"] == "Fully Paid":
        return "COMPLETE"
    else:
        return "ACTIVE"

In [56]:
dataset["settlement_status"] = dataset.apply(estatus_cred, axis=1)

In [57]:
dataset

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,next_pymnt_d,earliest_cr_line,mths_since_last_delinq,total_pymnt,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,Mar-2019,Apr-2001,NaN,167.020000,0.0,0.0,Feb-2019,ACTIVE,Individual,60124.0
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,Mar-2019,Jun-1987,71.0,1507.110000,0.0,0.0,Feb-2019,ACTIVE,Individual,372872.0
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,Mar-2019,Apr-2011,NaN,353.890000,0.0,0.0,Feb-2019,ACTIVE,Individual,136927.0
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,Mar-2019,Feb-2006,NaN,286.710000,0.0,0.0,Feb-2019,ACTIVE,Individual,385183.0
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,Mar-2019,Dec-2000,NaN,1423.210000,0.0,0.0,Feb-2019,ACTIVE,Individual,157548.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,Mar-2019,Jan-2004,NaN,5360.960000,0.0,0.0,Feb-2019,ACTIVE,Individual,73948.0
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,NaN,Mar-2003,13.0,14499.802172,0.0,0.0,Aug-2018,COMPLETE,Joint App,382275.0
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,Mar-2019,Feb-1995,NaN,5306.940000,0.0,0.0,Feb-2019,ACTIVE,Individual,203417.0
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,Mar-2019,Jul-2003,7.0,5207.290000,0.0,0.0,Feb-2019,ACTIVE,Individual,118975.0
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,Mar-2019,Apr-2014,NaN,7355.500000,0.0,0.0,Feb-2019,ACTIVE,Individual,50700.0

In [58]:
##mths_since_last_delinq = numero de meses desde la ultima morocidad del prestario

In [59]:
##next_pymnt_d  casi todas son en mar-19, pero hay vacias y vamos a crear una funcion que me permita rellenar esos nullos 
## Si settlement_status esta ACTIVE, entonces llenaremos con mar-2019, caso contrario dejamos en null

In [60]:
def payment_date (row):
     if row["next_pymnt_d"]!="mar-19" and row["settlement_status"] == "ACTIVE":
        return "mar-19"
     else:
        return None

In [61]:
dataset.next_pymnt_d = dataset.apply(payment_date, axis=1)

In [62]:
dataset.isnull().mean()

id_cliente                 0.000000
loan_status                0.000000
loan_amnt                  0.000000
installment                0.000000
term                       0.000000
emp_title                  0.073858
emp_length                 0.064984
home_ownership             0.000000
annual_inc                 0.000002
verification_status        0.000000
purpose                    0.000000
addr_state                 0.000000
delinq_2yrs                0.000013
next_pymnt_d               0.576661
earliest_cr_line           0.000013
mths_since_last_delinq     0.512460
total_pymnt                0.000000
recoveries                 0.000000
collection_recovery_fee    0.000000
last_pymnt_d               0.001073
settlement_status          0.000000
application_type           0.000000
tot_hi_cred_lim            0.031086
dtype: float64

In [67]:
dataset

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,next_pymnt_d,earliest_cr_line,mths_since_last_delinq,total_pymnt,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,mar-19,Apr-2001,NaN,167.020000,0.0,0.0,Feb-2019,ACTIVE,Individual,60124.0
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,mar-19,Jun-1987,71.0,1507.110000,0.0,0.0,Feb-2019,ACTIVE,Individual,372872.0
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,mar-19,Apr-2011,NaN,353.890000,0.0,0.0,Feb-2019,ACTIVE,Individual,136927.0
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,mar-19,Feb-2006,NaN,286.710000,0.0,0.0,Feb-2019,ACTIVE,Individual,385183.0
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,mar-19,Dec-2000,NaN,1423.210000,0.0,0.0,Feb-2019,ACTIVE,Individual,157548.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,mar-19,Jan-2004,NaN,5360.960000,0.0,0.0,Feb-2019,ACTIVE,Individual,73948.0
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,None,Mar-2003,13.0,14499.802172,0.0,0.0,Aug-2018,COMPLETE,Joint App,382275.0
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,mar-19,Feb-1995,NaN,5306.940000,0.0,0.0,Feb-2019,ACTIVE,Individual,203417.0
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,mar-19,Jul-2003,7.0,5207.290000,0.0,0.0,Feb-2019,ACTIVE,Individual,118975.0
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,mar-19,Apr-2014,NaN,7355.500000,0.0,0.0,Feb-2019,ACTIVE,Individual,50700.0

### 1. Definicion de mal pagador

###### -Eliminar los nulos de last_pyment_d y next_pymnt_d
###### - Transformar la columna last_pymnt_d  y next_pymnt_d en formato fecha 
###### - crear la definicion donde la diferencia de dias entre el ultimo mes de pago y el proximo mes de pago no excedan los 45 días, caso contrario sería un mal pagador.

In [64]:
ult_pago= dataset.dropna(subset=['last_pymnt_d'])

In [65]:
prox_pago= dataset.dropna(subset=['next_pymnt_d'])

In [66]:
dataset.last_pymnt_d.unique()

array(['Feb-2019', 'Jan-2019', nan, 'Dec-2018', 'Nov-2018', 'Oct-2018',
       'Sep-2018', 'Aug-2018', 'Jul-2018', 'Jun-2018', 'May-2018',
       'Apr-2018', 'Mar-2018', 'Feb-2018', 'Jan-2018', 'Oct-2017',
       'Apr-2017', 'Jan-2017', 'Aug-2017', 'Dec-2017', 'Nov-2017',
       'Nov-2016', 'May-2017', 'Jul-2017', 'Mar-2017', 'Jun-2017',
       'Feb-2017', 'Oct-2016', 'Sep-2017', 'Dec-2016', 'Sep-2016',
       'Aug-2016', 'Jul-2016', 'Jun-2016', 'May-2016', 'Apr-2016',
       'Mar-2016', 'Feb-2016', 'Jan-2016', 'Dec-2015', 'Nov-2015',
       'Oct-2015', 'Sep-2015', 'Aug-2015', 'Jul-2015', 'Jun-2015',
       'May-2015', 'Apr-2015', 'Mar-2015', 'Feb-2015', 'Jan-2015',
       'Aug-2014', 'Jul-2014', 'May-2014', 'Sep-2014', 'Jun-2014',
       'Nov-2014', 'Feb-2014', 'Jan-2014', 'Mar-2014', 'Dec-2014',
       'Oct-2014', 'Apr-2014', 'Dec-2013', 'Nov-2013', 'Oct-2013',
       'Sep-2013', 'Aug-2013', 'Jul-2013', 'Jun-2013', 'May-2013',
       'Apr-2013', 'Mar-2013', 'Feb-2013', 'Jan-2013', 'Dec-2012',
       'Nov-2012', 'Oct-2012', 'Sep-2012', 'Aug-2012', 'Jul-2012',
       'Jun-2012', 'May-2012', 'Apr-2012', 'Mar-2012', 'Feb-2012',
       'Jan-2012', 'Dec-2011', 'Nov-2011', 'Oct-2011', 'Sep-2011',
       'Aug-2011', 'Jul-2011', 'Jun-2011', 'May-2011', 'Apr-2011',
       'Mar-2011', 'Feb-2011', 'Jan-2011', 'Dec-2010', 'Nov-2010',
       'Oct-2010', 'Sep-2010', 'Aug-2010', 'Jul-2010', 'Jun-2010',
       'May-2010', 'Apr-2010', 'Mar-2010', 'Feb-2010', 'Jan-2010',
       'Dec-2009', 'Nov-2009', 'Oct-2009', 'Sep-2009', 'Aug-2009',
       'Jul-2009', 'Jun-2009', 'May-2009', 'Apr-2009', 'Mar-2009',
       'Feb-2009', 'Jan-2009', 'Dec-2008', 'Oct-2008', 'Aug-2008',
       'Jul-2008', 'Sep-2008', 'Jun-2008', 'May-2008', 'Nov-2008',
       'Apr-2008', 'Mar-2008', 'Feb-2008', 'Jan-2008', 'Dec-2007'],
      dtype=object)

In [71]:
ult_pago['last_pymnt_d'] = pd.to_datetime(ult_pago['last_pymnt_d'])

C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\2502790195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ult_pago['last_pymnt_d'] = pd.to_datetime(ult_pago['last_pymnt_d'])

In [72]:
prox_pago['next_pymnt_d'] = pd.to_datetime(prox_pago['next_pymnt_d'], format="%b-%y")

C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\1179305287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prox_pago['next_pymnt_d'] = pd.to_datetime(prox_pago['next_pymnt_d'], format="%b-%y")

In [73]:
dataset['late_pymnt'] = (prox_pago['next_pymnt_d']- ult_pago['last_pymnt_d']).dt.days

In [74]:
dataset

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,earliest_cr_line,mths_since_last_delinq,total_pymnt,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim,late_pymnt
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,Apr-2001,NaN,167.020000,0.0,0.0,Feb-2019,ACTIVE,Individual,60124.0,28.0
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,Jun-1987,71.0,1507.110000,0.0,0.0,Feb-2019,ACTIVE,Individual,372872.0,28.0
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,Apr-2011,NaN,353.890000,0.0,0.0,Feb-2019,ACTIVE,Individual,136927.0,28.0
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,Feb-2006,NaN,286.710000,0.0,0.0,Feb-2019,ACTIVE,Individual,385183.0,28.0
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,Dec-2000,NaN,1423.210000,0.0,0.0,Feb-2019,ACTIVE,Individual,157548.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,Jan-2004,NaN,5360.960000,0.0,0.0,Feb-2019,ACTIVE,Individual,73948.0,28.0
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,Mar-2003,13.0,14499.802172,0.0,0.0,Aug-2018,COMPLETE,Joint App,382275.0,NaN
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,Feb-1995,NaN,5306.940000,0.0,0.0,Feb-2019,ACTIVE,Individual,203417.0,28.0
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,Jul-2003,7.0,5207.290000,0.0,0.0,Feb-2019,ACTIVE,Individual,118975.0,28.0
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,Apr-2014,NaN,7355.500000,0.0,0.0,Feb-2019,ACTIVE,Individual,50700.0,28.0

In [75]:
##Funcion que define el buen pagador y mal pagador

In [76]:
def late_pymnt_d (row):
    if row["late_pymnt"] > 45:
        return "Mal pagador"
    else:
        return "Buen pagador"

In [77]:
dataset["costumer_status"] =dataset.apply(late_pymnt_d, axis=1)

### Feature transformation

##### 1. En este apartado usted deberá crear nuevas columnas apartir de las que tiene. Pueden ser:

###### a) Variables indicadores (1 si cumple x condición, 0 caso contrario) 
###### b) Variables categóricas apartir de una variable nominal
###### c) Nuevas variables en funcion de otras, como por ejemplo ratios, vintage del cliente, etc..

In [80]:
## Nueva columna de la classe del cliente doonde se define una funcion con parametros de la categoria crediticia del cliente
def customer_class(row):
    if row['late_pymnt'] <= 45:
        return "A"
    elif row['late_pymnt'] > 45 and row['late_pymnt'] <= 60:
        return "B"
    else:
        return "C"

In [81]:
dataset["custmr_class"]=dataset.apply( customer_class, axis=1)

In [89]:
## Calcular el ratio de clientes por estado crediticio
clientes_C = dataset["custmr_class"].value_counts()[0]
clientes_A = dataset["custmr_class"].value_counts()[1]
clientes_B = dataset["custmr_class"].value_counts()[2]

C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\2163530839.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  clientes_C = dataset["custmr_class"].value_counts()[0]
C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\2163530839.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  clientes_A = dataset["custmr_class"].value_counts()[1]
C:\Users\DELL-USER\AppData\Local\Temp\ipykernel_14296\2163530839.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  clientes_B = dataset["custmr_class"].value_counts()[2]

In [90]:
total_clientes = len(dataset)

ratio_A = clientes_A / total_clientes
ratio_B = clientes_B / total_clientes
ratio_C = clientes_C / total_clientes

In [92]:
def rat_cost_class (row):
    if row["custmr_class"]== "A":
        return ratio_A
    elif row["custmr_class"]== "B":
        return ratio_B
    else:
        return ratio_C

In [94]:
dataset["ratio_cred"]=dataset.apply(rat_cost_class, axis=1)

In [95]:
dataset

,id_cliente,loan_status,loan_amnt,installment,term,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,recoveries,collection_recovery_fee,last_pymnt_d,settlement_status,application_type,tot_hi_cred_lim,late_pymnt,costumer_status,custmr_class,ratio_cred
0,0,Current,2500,84.92,36 months,Chef,10+ years,RENT,55000.0,Not Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,60124.0,28.0,Buen pagador,A,0.405326
1,1,Current,30000,777.23,60 months,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,372872.0,28.0,Buen pagador,A,0.405326
2,2,Current,5000,180.69,36 months,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,136927.0,28.0,Buen pagador,A,0.405326
3,3,Current,4000,146.51,36 months,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,385183.0,28.0,Buen pagador,A,0.405326
4,4,Current,30000,731.78,60 months,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,157548.0,28.0,Buen pagador,A,0.405326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,2260663,Current,12000,279.72,60 months,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,73948.0,28.0,Buen pagador,A,0.405326
2260664,2260664,Fully Paid,12000,358.01,60 months,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,...,0.0,0.0,Aug-2018,COMPLETE,Joint App,382275.0,NaN,Buen pagador,C,0.585004
2260665,2260665,Current,10000,332.10,36 months,Teacher,10+ years,OWN,64000.0,Source Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,203417.0,28.0,Buen pagador,A,0.405326
2260666,2260666,Current,12000,327.69,60 months,NaN,NaN,RENT,60000.0,Not Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,118975.0,28.0,Buen pagador,A,0.405326
2260667,2260667,Current,16550,451.94,60 months,BABYSITTER,3 years,RENT,60000.0,Not Verified,...,0.0,0.0,Feb-2019,ACTIVE,Individual,50700.0,28.0,Buen pagador,A,0.405326